{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          // "browsers": ["> 1%", "last 10 versions", "not ie"]
          "chrome": 60
        }
      }
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    [
      "import",
      {
        "libraryName": "ant-design-vue",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}
