$dark-color=#fff;
$dark-bg-color = #252526

// input
.dark-input .ant-input, .dark-input.ant-input {
  color: $dark-color;
  background-color: $dark-bg-color;
  &.input-blue {
    border: 1px solid #007AFF;
  }
}
.dark-input .ant-input-prefix {
  color: $dark-color;
}

.no-border-input .ant-input, .no-border-input.ant-input,.no-border-select .ant-select-selection--single {
  border: none;
  box-shadow: none !important;
}

// tree

.dark-tree {
  .ant-tree-title {
    color: $dark-color;
    font-size: 14px;
  }
  .ant-tree-switcher {
    color: $dark-color;
    font-size: 14px;
  }
  .ant-tree-treenode-switcher-close,.ant-tree-treenode-switcher-open {
    .ant-tree-node-content-wrapper:hover {
      background-color: rgba(217,217,217,0.1)
    }
    span {
      line-height: 24px;
    }
  }
}



// empty
.dark-empty {
  background-color: #1E1E1E;
  margin: 0;
}

// drawer
.dark-drawer {
  .ant-drawer-header {
    background-color: $dark-bg-color;
    border-color: $dark-bg-color;
    color: $dark-color;
    .ant-drawer-title {
      color: $dark-color;
    }
  }
  .ant-drawer-content {
    background-color: $dark-bg-color;
  }
  .ant-drawer-close {
    color: $dark-color;
  }
}

// select
.dark-select {
  color: $dark-color;
  .ant-select-arrow {
    color: $dark-color;
  }
  .ant-select-selection {
    background-color: $dark-bg-color;
  }
}

.dark-select-option {
  background-color: $dark-bg-color;
  .ant-select-dropdown-menu-item {
    color: $dark-color;
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
  .ant-select-dropdown-menu-item-selected {
    background-color: rgba(255,255,255,0.2);
  }
}

.dark-modal {
  .ant-modal-content {
    background-color: $dark-bg-color;
    .ant-modal-close-x {
      color: $dark-color;
      margin-top: 8px;
      >i {
        font-size: 12px;
      }
    }
    .ant-modal-header {
      background: $dark-bg-color;
      padding: 8px 10px;
      .ant-modal-title {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        >i {
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
    .ant-modal-body {
      padding: 10px
    }
    div.ant-modal-footer {
      background-color: $dark-bg-color;
      padding-right: 10px;
    }
  }
}